---
import Slider from '@components/Slider.astro';
import Layout from '../layouts/Layout.astro';
import Navigation from '@components/Navigation.astro';
import Pricing from '@components/Pricing.astro';
import CustomizeWorkflow from '@components/CustomizeWorkflow.astro';
import Promo from '@components/Promo.astro';
import QA from '@components/QA.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
	<div class="w-screen h-auto">
        <Navigation />
        <main class="w-full h-auto pt-48 pb-24 mx-auto">
            <div class="flex items-center justify-center w-full h-auto gap-x-14">
                <h1 class="text-5xl font-normal text-left text-gray font-amergo-bt">Plans & Pricing</h1>
                <Slider /> 
            </div>
            <Pricing />
        </main>
        <CustomizeWorkflow />
        <Promo />
        <QA />
        <Footer />
        <footer class="flex items-center justify-center w-full h-auto p-3">
            <span class="text-base font-light text-center font-amergo-bt text-gray">Developed by <a href="https://github.com/dano2906" class="transition-all text-green hover:underline-offset-1 hover:underline hover:decoration-green">Dano.</a></span>
        </footer>
    </div>
</Layout>
