<footer class="flex items-start justify-between h-auto max-w-4xl p-4 mx-auto my-12 gap-y-10">
    <div>
        <h3 class="mb-3 text-xl font-semibold text-left font-proxima-nova-semibold text-gray">PRODUCT</h3>
        <ul class="flex flex-col items-start justify-start gap-y-2">
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90" >Proposals</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Contracts</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Invoicing</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Client CRM</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Time Tracking</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Task Tracking</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Forms</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Accounting</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Bonsai Tax</a></li>
            <li class="mb-4"><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Bonsai Cash</a></li>
            <li><a href="" class="mt-10 text-base font-thin text-left font-proxima-nova-light text-green">Pricing</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Bonsai Reviews</a></li>
        </ul>
    </div>
    <div>
        <h3 class="mb-3 text-xl font-semibold text-left font-proxima-nova-semibold text-gray">FREE RESOURCES</h3>
        <ul class="flex flex-col items-start justify-start gap-y-2">
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Freelance Resources</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Freelance Blog by Bonsai</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">How to Write a Contract</a></li>
            <li class="mb-4"><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Online Signature Maker</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Self-Employed Tax Deductions</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Self-Employed Taxes Hub</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Self-Employed Tax Calculator</a></li>
            <h3 class="my-3 text-lg font-medium text-left text-black/90 font-proxima-nova-regular">Templates</h3>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Invoice Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Proposal Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Contract Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Agreement Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Scope of Work Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Quote Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Credit Note Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Estimate Templates</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Form Templates</a></li>
        </ul>
    </div>
    <div>
        <h3 class="mb-3 text-xl font-semibold text-left font-proxima-nova-semibold text-gray">BONSAI</h3>
        <ul class="flex flex-col items-start justify-start gap-y-2">
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">About</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Careers</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Support</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">LinkedIn</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Twitter</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Privacy policy</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Legal</a></li>
            <li class="mt-4"><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Affiliates</a></li>
            <li class="mb-4"><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Write for Us</a></li>
            <li><a href="" class="text-base font-thin text-left font-proxima-nova-light text-gray/90">Comparisons</a></li>
        </ul>
    </div>
</footer>