---
import TemplateMenuList from "./TemplateMenuList.astro";
---

<header class="fixed w-full h-auto bg-white">
    <div class="flex items-center justify-between max-w-6xl px-6 py-5 mx-auto">
        <a href="">
            <img src="/images/bonsai_logo.svg" alt="Bonsai icon" width="156" height="156">
        </a>
        <nav class="flex items-center justify-center flex-1 gap-x-10">
            <div class="relative flex items-center justify-center cursor-pointer menu gap-x-2">
                <span class="text-base text-left transition-colors font-proxima-nova-regular text-gray hover:text-black">Product</span>
                <img src="/images/path.svg" alt="path arrow" width="12" height="12">
                <div class="invisible absolute w-[320px] h-auto p-4 top-9 bg-white drop-shadow-2xl">
                    <article class="w-full h-auto">
                        <div class="flex flex-col items-start justify-center max-w-full px-2 py-6 mx-auto border-b gap-y-4 border-b-gray/20">
                            <h2 class="text-2xl font-medium text-left text-black font-amergo-bt">Bonsai Workflow</h2>
                            <p class="font-proxima-nova-regular text-lg leading-6 text-left text-gray font-normal [text-wrap: balance]">Look professional, win more clients and manage your business from one place</p>
                        </div>
                    </article>
                    <article class="w-full h-auto">
                        <a href="a">
                            <div class="flex flex-col items-start justify-center max-w-full px-2 py-6 mx-auto border-b gap-y-4 border-b-gray/20">
                                <h2 class="text-2xl font-medium text-left text-black font-amergo-bt">Bonsai Tax</h2>
                                <p class="font-proxima-nova-regular text-lg leading-6 text-left text-gray font-normal [text-wrap: balance]">Track expenses, maximize tax write-offs, and estimate taxes without the headache</p>
                            </div>
                        </a>
                    </article>
                    <article class="w-full h-auto">
                        <a href="b">
                            <div class="flex flex-col items-start justify-center max-w-full px-2 py-6 mx-auto gap-y-4">
                                <h2 class="text-2xl font-medium text-left text-black font-amergo-bt">Bonsai Cash</h2>
                                <p class="font-proxima-nova-regular text-lg leading-6 text-left text-gray font-normal [text-wrap: balance]">Bonsai’s all-in-one financial hub: No fees and lightning fast payouts</p>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="relative flex items-center justify-center cursor-pointer menu gap-x-2">
                <span class="text-base text-left transition-colors font-proxima-nova-regular text-gray hover:text-black">Templates</span>
                <img src="/images/path.svg" alt="path arrow" width="12" height="12">
                <div class="invisible absolute w-[640px] h-auto p-4 top-9 -left-32 bg-white drop-shadow-2xl flex items-center justify-between">
                    <TemplateMenuList />
                    <div class="flex flex-col items-start justify-start w-3/5 h-auto">
                        <h2 class="mt-2 mb-8 text-2xl font-medium text-left text-black font-amergo-bt">Featured Contract Templates</h2>
                        <ul class="flex flex-col items-start justify-between w-full gap-y-4">
                            <li class="flex items-center justify-center w-full px-8 py-6 border border-gray/20">
                                <span class="text-base font-light text-center text-black font-proxima-nova-light">Free Contract Maker</span>
                            </li>
                            <li class="flex items-center justify-center w-full px-8 py-6 border border-gray/20">
                                <span class="text-base font-light text-center text-black font-proxima-nova-light">Social Media Manager Contract Template</span>
                            </li>
                            <li class="flex items-center justify-center w-full px-8 py-6 border border-gray/20">
                                <span class="text-base font-light text-center text-black font-proxima-nova-light">Graphic Design Contract Template</span>
                            </li>
                            <li class="flex items-center justify-center w-full px-8 py-6 border border-gray/20">
                                <span class="text-base font-light text-center text-black font-proxima-nova-light">Digital Marketing Contract Template</span>
                            </li>
                        </ul>
                        <a href="" class="mx-auto mt-4 text-base font-semibold text-green font-proxima-nova-semibold">See all templates</a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center cursor-pointer">
                <a href="" class="text-base text-left transition-colors font-proxima-nova-regular text-gray hover:text-black">Pricing</a>
            </div>
            <div class="flex items-center justify-center cursor-pointer">
                <a href="" class="text-base text-left transition-colors font-proxima-nova-regular text-gray hover:text-black">Reviews</a>
            </div>
        </nav>
        <div class="flex items-center justify-center gap-x-3">
            <button class="h-10 text-sm font-semibold uppercase transition-colors bg-white border rounded w-28 border-green text-green font-proxima-nova-semibold hover:bg-green/90 hover:text-white">Log in</button>
            <button class="h-10 text-sm font-semibold text-white uppercase transition-colors rounded w-28 bg-green/90 font-proxima-nova-semibold hover:bg-green">Start free</button>
        </div>
    </div>
</header>

<script>
    let menus = document.querySelectorAll(".menu");
    menus.forEach((menu)=>{
        menu?.addEventListener("mouseenter",()=>{
            let child = menu.querySelector("div");
            child?.classList.remove("invisible");
        })
        menu?.addEventListener("mouseleave",()=>{
            let child = menu.querySelector("div");
            child?.classList.add("invisible");
        })
    })
</script>