<header class="bg-white w-full h-auto fixed">
    <div class="max-w-6xl mx-auto px-6 py-5 flex items-center justify-between">
        <img src="/images/bonsai_logo.svg" alt="Bonsai icon" width="156" height="156">
        <nav class="flex flex-1 items-center justify-center gap-x-10">
            <div class="flex items-center justify-center gap-x-2 cursor-pointer">
                <span class="transition-colors font-proxima-nova-regular text-base text-gray hover:text-black text-left">Product</span>
                <img src="/images/path.svg" alt="path arrow" width="12" height="12">
            </div>
            <div class="flex items-center justify-center gap-x-2 cursor-pointer">
                <span class="transition-colors font-proxima-nova-regular text-base text-gray hover:text-black text-left">Templates</span>
                <img src="/images/path.svg" alt="path arrow" width="12" height="12">
            </div>
            <div class="flex items-center justify-center cursor-pointer">
                <a href="" class="transition-colors font-proxima-nova-regular text-base text-gray hover:text-black text-left">Pricing</a>
            </div>
            <div class="flex items-center justify-center cursor-pointer">
                <a href="" class="transition-colors font-proxima-nova-regular text-base text-gray hover:text-black text-left">Reviews</a>
            </div>
        </nav>
        <div class="flex items-center justify-center gap-x-3">
            <button class="w-28 h-10 rounded bg-white border border-green text-green font-proxima-nova-semibold text-sm font-semibold uppercase">Log in</button>
            <button class="w-28 h-10 rounded bg-green text-white font-proxima-nova-semibold text-sm font-semibold uppercase">Start free</button>
        </div>
    </div>
</header>