---
import Check from '@components/Check.astro';
---

<section class="flex items-start justify-center h-auto p-4 mx-auto my-12 max-w-7xl gap-x-2">
    <article class="w-1/3 h-auto p-8 bg-white border rounded-md shadow-md border-gray/30">
        <div class="relative flex flex-col items-start justify-start w-full h-auto border-b-2 border-b-green">
            <h2 class="text-2xl font-semibold text-left font-proxima-nova-semibold text-gray">Starter</h2>
            <span class="text-base font-light text-left font-proxima-nova-light text-gray/60">Ideal for freelancers and contractors just starting out.</span>
            <div class="flex items-end justify-start gap-x-2">
                <h1 class="before:content-['$'] before:text-3xl before:font-proxima-nova-light before:font-light before:mr-4 before:text-left before:text-gray/90 text-7xl text-left text-gray/90 font-proxima-nova-semibold font-semibold bottom-0 price">24</h1>
                <span class="text-2xl font-normal text-right font-proxima-nova-regular text-gray/90">/MONTH</span>
            </div>
            <span class="self-end hidden text-lg font-thin text-right font-proxima-nova-light">Billed yearly</span>
        </div>
        <ul class="flex flex-col items-start justify-between w-full h-auto my-5 gap-y-3">
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />All Templates</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Unlimited Clients & Projects</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Invoicing & Payments</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Proposals & Contracts</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Tasks & Time Tracking</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Client CRM</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Expense Tracking</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Up to 5 Project Collaborators</li>
        </ul>
        <div class="flex items-center justify-start w-full mt-[92px]">
            <button class="w-3/4 h-16 text-sm font-semibold text-white uppercase transition-colors rounded bg-green/90 font-proxima-nova-semibold hover:bg-green">Start free</button>
        </div>
    </article>
    <article class="w-1/3 h-auto p-8 bg-white border rounded-md shadow-md border-gray/30">
        <div class="relative flex flex-col items-start justify-between w-full h-auto border-b-2 border-b-green">
            <h2 class="text-2xl font-semibold text-left font-proxima-nova-semibold text-gray">Professional</h2>
            <span class="text-base font-light text-left font-proxima-nova-light text-gray/60">Everything a growing independent business needs to thrive.</span>
            <div class="flex items-end justify-start gap-x-2">
                <h1 class="before:content-['$'] before:text-3xl before:font-proxima-nova-light before:font-light before:mr-4 before:text-left before:text-gray/90 text-7xl text-left text-gray/90 font-proxima-nova-semibold font-semibold bottom-0 price">59</h1>
                <span class="text-2xl font-normal text-right font-proxima-nova-regular text-gray/90">/MONTH</span>
            </div>
            <span class="self-end hidden text-lg font-thin text-right font-proxima-nova-light">Billed yearly</span>
        </div>
        <ul class="flex flex-col items-start justify-between w-full h-auto my-5 gap-y-3">
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Everything in Starter plus...</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Custom Branding</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Forms & Questionnaires</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Workflow Automations</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Client Portal</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />QuickBooks Integration</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Calendly Integration</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Zapier Integration</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Up to 15 Project Collaborators</li>
        </ul>
        <div class="flex items-end justify-center w-full mt-14">
            <button class="w-3/4 h-16 text-sm font-semibold text-white uppercase transition-colors rounded bg-green/90 font-proxima-nova-semibold hover:bg-green">Start free</button>
        </div>
    </article>
    <article class="w-1/3 h-auto p-8 bg-white border rounded-md shadow-md border-gray/30">
        <div class="relative flex flex-col items-start justify-start w-full h-auto border-b-2 border-b-green">
            <h2 class="text-2xl font-semibold text-left font-proxima-nova-semibold text-gray">Bussiness</h2>
            <span class="text-base font-light text-left font-proxima-nova-light text-gray/60">The perfect package for small businesses and agencies.</span>
            <div class="flex items-end justify-start gap-x-2">
                <h1 class="before:content-['$'] before:text-3xl before:font-proxima-nova-light before:font-light before:mr-4 before:text-left before:text-gray/90 text-7xl text-left text-gray/90 font-proxima-nova-semibold font-semibold bottom-0 price">79</h1>
                <span class="text-2xl font-normal text-right font-proxima-nova-regular text-gray/90">/MONTH</span>
            </div>
            <span class="self-end hidden text-lg font-thin text-right font-proxima-nova-light">Billed yearly</span>
        </div>
        <ul class="flex flex-col items-start justify-between w-full h-auto my-5 gap-y-3">
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Everything in Starter and Professional plus...</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Subcontractor Management</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Hiring Agreement Templates (1099 contracts)</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Subcontractor Onboarding</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Talent Pool</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />3 Team Seats (additional seats $9/month)</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Accountant Access</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Connect Multiple Bank Accounts</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Unlimited Subcontractors</li>
            <li class="flex items-center justify-center text-base font-thin gap-x-2 font-proxima-nova-light text-gray/90"><Check />Unlimited Project Collaborators</li>
        </ul>
        <div class="flex items-center justify-center w-full">
            <button class="w-3/4 h-16 text-sm font-semibold text-white uppercase transition-colors rounded bg-green/90 font-proxima-nova-semibold hover:bg-green">Start free</button>
        </div>
    </article>
</section>

<script>
    import { isYearly } from '../store/billingStore';
    const billedEl = document.querySelectorAll(".hidden")
    const h1 = document.querySelectorAll(".price")
    
    isYearly.subscribe((yearly)=>{
        if(yearly) {
            billedEl.forEach((el)=>{
                el.classList.remove("hidden")
            })
            h1.forEach((el,index)=>{
                if(index === 0) {
                    el.innerText = "17"
                } else if(index === 1) {
                    el.innerText = "52"
                } else {
                    el.innerText = "72"
                }
            })
        } else {
            billedEl.forEach((el)=>{
                el.classList.add("hidden")
            })
            h1.forEach((el,index)=>{
                if(index === 0) {
                    el.innerText = "24"
                } else if(index === 1) {
                    el.innerText = "39"
                } else {
                    el.innerText = "79"
                }
            }) 
        }     
    })
</script>