<section class="flex flex-col items-center justify-center h-auto p-4 mx-auto my-12 max-w-7xl gap-y-10">
    <h2 class="text-4xl font-black text-center font-proxima-nova-semibold text-green">Frequently Asked Questions</h2>
    <div class="grid w-full max-w-3xl mx-auto mt-8 divide-y divide-neutral-200">
		<div class="py-5">
			<details class="group">
				<summary class="flex items-center justify-between font-medium list-none cursor-pointer">
					<span class="text-2xl font-semibold text-left transition-all font-proxima-nova-semibold text-gray hover:text-green">How does the free trial work?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
				</summary>
				<p class="mt-3 text-base font-light text-left text-gray font-proxima-nova-light group-open:animate-fadeIn">
                    When you start your trial with Bonsai you'll receive full, unlimited access to all of Bonsai's Workflow or Workflow Plus Features! You will need to enter your credit card information to begin your trial, but don't worry - we won't charge you anything until the subscription ends! If you wish to cancel at any time during the trial period, you can do so through your Subscriptions Settings Page.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex items-center justify-between font-medium list-none cursor-pointer">
					<span class="text-2xl font-semibold text-left transition-all font-proxima-nova-semibold text-gray hover:text-green">Can I change plans anytime?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
				</summary>
				<p class="mt-3 text-base font-light text-left text-gray font-proxima-nova-light group-open:animate-fadeIn">
					Yes, you can from within your account. If you have already subscribed to a plan, or want to downgrade or upgrade your current one, you can do this by going to your "Settings" and "Subscription".
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex items-center justify-between font-medium list-none cursor-pointer">
					<span class="text-2xl font-semibold text-left transition-all font-proxima-nova-semibold text-gray hover:text-green">How do I pause my Bonsai subscription?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
				</summary>
				<p class="mt-3 text-base font-light text-left text-gray font-proxima-nova-light group-open:animate-fadeIn">
					We totally understand that with the nature of freelancing, work ebbs and flows so you might not always need your Bonsai subscription to remain active! The good news is that you can cancel or pause your monthly subscription at any time without penalty. Once cancelled, you'll be able to continue logging in to access all your documents and even continue to use our free features, like Time Tracking! In order to cancel your subscription, login to your Bonsai account.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex items-center justify-between font-medium list-none cursor-pointer">
					<span class="text-2xl font-semibold text-left transition-all font-proxima-nova-semibold text-gray hover:text-green">What is your refund policy?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
				</summary>
				<p class="mt-3 text-base font-light text-left text-gray font-proxima-nova-light group-open:animate-fadeIn">
					If you contact us within 2 weeks of being charged for your subscription, we will be happy to issue a refund for you!Beyond those 2 weeks, you will need to cancel or modify the subscription from the Subscriptions Tab in Settings to avoid future charges, but refunds will not be issued. This applies to both monthly and annual plans.
				</p>
			</details>
		</div>
    </div>
</section>