<ul class="w-2/5 flex flex-col items-start justify-start gap-y-8">
    <li class="p-1 flex items-center justify-start gap-x-3">
        <img src="/images/contracts-icon.svg" alt="Contract icon" width="14" height="14">
        <span class="font-proxima-nova-light text-base text-black font-light">Contract Templates</span>
    </li>
    <li class="p-1 flex items-center justify-start gap-x-3">
        <img src="/images/contracts-icon.svg" alt="Contract icon" width="14" height="14">
        <span class="font-proxima-nova-light text-base text-black font-light">Proposal Templates</span>
    </li>
    <li class="p-1 flex items-center justify-start gap-x-3">
        <img src="/images/contracts-money-icon.svg" alt="Contract icon" width="14" height="14">
        <span class="font-proxima-nova-light text-base text-black font-light">Invoice Templates</span>
    </li>
    <li class="p-1 flex items-center justify-start gap-x-3">
        <img src="/images/contracts-icon.svg" alt="Contract icon" width="14" height="14">
        <span class="font-proxima-nova-light text-base text-black font-light">Agreement Templates</span>
    </li>
    <li class="p-1 flex items-center justify-start gap-x-3">
        <img src="/images/abb-contracts-icon.svg" alt="Contract icon" width="14" height="14">
        <span class="font-proxima-nova-light text-base text-black font-light">Quote Templates</span>
    </li>
    <li class="p-1 flex items-center justify-start gap-x-3">
        <img src="/images/time.svg" alt="Contract icon" width="14" height="14">
        <span class="font-proxima-nova-light text-base text-black font-light">Scope of work Templates</span>
    </li>
    <li class="p-1 flex items-center justify-start gap-x-3">
        <img src="/images/contracts-icon.svg" alt="Contract icon" width="14" height="14">
        <span class="font-proxima-nova-light text-base text-black font-light">Bried Templates</span>
    </li>
</ul>