---
import Background from '@components/Background.astro';
import "../styles/base.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/images/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pricing - Bonsai Freelance Solution</title>
	</head>
	<body class="w-full overflow-x-hidden bg-gray/5">
		<Background />
		<slot />
	</body>
</html>